.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}

.slide-left {
  transform: translateX(-60px);
}

.slide-right {
  transform: translateX(60px);
}

.slide-left.show,
.slide-right.show {
  transform: translateX(0);
}
